<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\style\cs.css">
    <title>Document</title>
</head>
<body>
    <h2>Pantalla2</h2>

    <nav class="menuCSS3">
		<ul>
			<li><a href="index.html">Inicio</a></li>
			<li><a href="#">Empleados</a>
				<ul>
					<li><a href="#">Juan</a></li>
					<li><a href="#">Paco</a></li>
					<li><a href="#">Ramón</a></li>
					<li><a href="#">María</a></li>
				</ul>
			</li>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Contacto</a>
				<ul>
					<li><a href="#">Email</a></li>
					<li><a href="#">Mapa</a></li>
				</ul>

			</li>
		</ul>
	</nav>
</body>
</html>